/* generales */
html { /* etiqueta raíz */
	font-size: 62.5%;
 }
 
*{
	 margin:0px;
	 padding: 0px;
	 box-sizing: border-box;
 } 
 
 body{
    font-family: 'Montserrat Alternates';
    background-image: url(../css/multimedia/fondo.jpg);
	padding: 10px;
 }
 
 
 